.translation {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}

.translation.active {
    display: block;
}

.translation textarea {
    height: 150px;
}
select#postLang {
    padding: 10px;
    margin-bottom: 20px;
    background: antiquewhite;
    /* color: #fff; */
}

input#en-title {
    background: antiquewhite;
}

button.px-4.py-1.text-white.font-light.tracking-wider.bg-blue-600.rounded {
    margin-top: 20px;
}

.logo {
    width: 100px;
}

.main_menu {
    width: 80%;
}

.main_menu a {
    color: #2f83a1;
    font-weight: 600;
}

.lang-switch {
    width: 50px;
}

.lang-switch img {
    width: 20px;
    height: 15px;
    object-fit: cover;
}

.top-nav {
    background-color: #103048;
    font-size: 13px;
    letter-spacing: 0.04cm;
    white-space: nowrap;
}

.preview-img,
.preview-video {
    margin-top: 10px;
    width: 40%;
}

/* input[type="file"] {
    opacity: 0;
} */

/* body {
    height: 5000px;
} */

.hotline {
    /* height: 100%; */
    background: #e66161;
    padding: 6px 15px;
    border-radius: 30px;
}

.menu-wrap {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
}

.bars {
    display: none;
}

.bars i {
    font-size: 25px;
}

.menu-mobile-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(229, 242, 238, 0.581);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: right; */
    z-index: 999;
    transition: 0.5s ease;
    transform: translateX(100%);
    opacity: 0;
}

.menu-mobile-wrap.active {
    transform: translateX(0);
    opacity: 1;
}

.main_menu_mobile a {
    /* margin-top: 100px; */
    color: #2f83a1;
    font-weight: 600;
    font-size: 18px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
}

.company-email a,
.hotline a {
    color: #fff;
}

.overview-logo img {
    width: 50%;
    margin: 0 auto;
}

.main-admin-home label {
    font-weight: bold;
    font-size: 18px;
    color: #e26b11;
    margin-top: 20px;
}

.grid_img,
.grid_milestone_img,
.grid_apartment_img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.overview,
.location-utilities,
.sample {
    margin: 50px auto;
}

.register-btn button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #457789;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.register-btn a {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.03cm;
}

.location_title,
.milestone-title,
.sample_title {
    color: #103048;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}

.milestone-title {
    color: #fff;
}
.overview-text {
    width: 90%;
    margin: 0 auto;
}

.milestone-wrap {
    background-color: #a39383;
    padding: 50px 0;
}

.overview-logo {
    margin-bottom: 40px;
}

.submit-wrap {
    position: sticky;
    top: 0;
    z-index: 999;
}

.milestone_img {
    margin-bottom: 24px;
}

.socials img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.socials {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.socials-text {
    font-weight: 600;
}

.address {
    width: 90%;
    font-weight: 500;
}

.phone a {
    color: #000;
    font-weight: 500;
}

.logo-footer img {
    width: 80%;
}

.copyright {
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

@keyframes slideText {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@media (max-width: 992px) {
    /* .top-nav {
        display: none;
    } */
    .logo-footer img {
        width: 40%;
        margin-bottom: 20px;
    }

    .socials-text {
        margin-top: 20px;
    }
    .location_title,
    .milestone-title,
    .sample_title {
        font-size: 30px;
    }
    .overview-text {
        width: 100%;
    }
    .address {
        width: 100%;
    }
    .l-u-img {
        margin-bottom: 20px;
    }
    .overview-logo {
        margin: 20px auto;
    }
    .main_menu {
        display: none;
    }
    .bars {
        display: block;
    }
    .top-nav {
        overflow: hidden;
    }

    .nav-wrap {
        gap: 20px;
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .nav-wrap {
        animation: slideText 10s linear infinite;
    }
}
